
body{
    background-color: yellowgreen;
    font: 1em sans-serif;
}
#page-wrapper {
  position: relative;
  }
  li {
    list-style: none;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  .btn {
    padding:0 10px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    cursor: pointer;
    background-color: #f1c40f;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .btn:hover{
      background-color: red;
      transition-duration: 1s;
  }
  .grid {
   display: flex;
  }
  header {
    position: fixed;
    top: 0;
    min-height: 50px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
  }
  
@media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }
  .logo {
    width: 60vw;
  }
  
  @media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }
.logo > img {
    width: 10%;
    height: 10%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
   
  }
  @media (max-width: 750px) {
    .logo > img {
      margin: 0 auto;
    }
  }
  nav {
    font-weight: 400;
  }
  @media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
      
  nav li {
    padding-bottom: 5px;
  }
} 
nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  @media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
  }
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
  }
  
  #hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }
  #hero input {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    background-color: ghostwhite;
    outline-color: blue; /* used to change the color of the border in a submit box */
  }
  @media (max-width: 650px) {
    #hero {
      margin-top: 120px;
    }
  }
  #features {
    margin-top: 30px;
  }
  #how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  #how-it-works > iframe {
    max-width: 560px;
    width: 100%;
  }
  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid rgb(15, 12, 12);
    border-radius: 3px;
  }
  .product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  .product > h2 {
    margin-top: 15px;
  }
  
.product > ol {
    margin: 15px 0;
  }
  .product > ol > li {
    padding: 5px 0;
  }
  .product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
  }
  @media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
    footer {
        margin-top: 30px;
        background-color: #ddd;
        padding: 20px;
      }
      footer > ul {
        display: flex;
        justify-content: flex-end;
      }
      
      footer > ul > li {
        padding: 0 10px;
      } 
      footer > span {
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;
        font-size: 0.9em;
        color: #444;
      }